
body {
    background-color: rgb(213, 191, 231);
}
        
        
/* Custom CSS for additional styling */
.topping-group {
border: 1px solid #3aadf0;
padding: 10px;
border-radius: 5px;
}

.submitbut {
    background-color: rgb(229, 174, 236);
    border-color:  rgb(229, 174, 236);
    color: rgb(72, 46, 97);
}